/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");
/* Core styles */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.heading .line {
  display: inline-block;
  height: .35rem;
  width: 6rem;
  background-color: crimson;
  opacity: .8;
}

.heading h2 {
  margin-top: .5rem;
  text-transform: capitalize;
  font-size: 3rem;
  color: #000;
}

/* Home section styles */
.wrapper {
  background: url("../images/home.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrapper .header {
  position: relative;
  z-index: 1000;
}

.wrapper .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.wrapper .header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .container .links .logo {
  width: auto;
  height: 2.5rem;
  margin-right: 2rem;
}

.wrapper .header .container .links .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .header .container .links .navbar a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #fff;
  margin: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.wrapper .header .container .links .navbar a:hover {
  color: #eeebbb;
}

.wrapper .header .container .icons div {
  font-size: 2.2rem;
  margin: 0 .5rem;
  color: #fff;
}

.wrapper .content {
  margin-top: 12rem;
}

.wrapper .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .content .container .info h2 {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 2%;
  color: #fff;
}

#menu-btn {
  display: none;
}

/* Products section styles */
.products {
  margin: 5rem 0;
}

.products .container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.products .container .box-container .box {
  border-radius: 1.1rem;
}

.products .container .box-container .box .image {
  height: 25.2rem;
  overflow: hidden;
}

.products .container .box-container .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .container .box-container .box .content {
  padding: 2rem;
  border-radius: 0 0 1.1rem 1.1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.products .container .box-container .box .content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .container .box-container .box .content .about h2, .products .container .box-container .box .content .about h3 {
  font-size: 1.8rem;
  font-weight: bolder;
}

.products .container .box-container .box .content p {
  margin: 1rem 0 2rem 0;
  font-size: 1.3rem;
}

.products .container .box-container .box .content .color {
  border: 0.15rem solid #ECECEC;
  display: inline-block;
  border-radius: 1rem;
}

.products .container .box-container .box .content .color span {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: .4rem;
}

/* Popular section styles */
.popular {
  margin: 7rem 0;
  background-color: #ECECEC;
}

.popular .container {
  padding: 5rem 0;
}

.popular .container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.popular .container .box-container .box {
  border-radius: 1rem;
  background-color: #fff;
}

.popular .container .box-container .box .image {
  height: 29rem;
  overflow: hidden;
}

.popular .container .box-container .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular .container .box-container .box .content {
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.popular .container .box-container .box .content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular .container .box-container .box .content .about h2, .popular .container .box-container .box .content .about h3 {
  font-size: 1.7rem;
  font-weight: bolder;
}

.popular .container .box-container .box .content p {
  margin: 1rem 0 2rem 0;
  font-size: 1.3rem;
}

.popular .container .box-container .box .content .color {
  border: 0.2rem solid #ECECEC;
  display: inline-block;
  border-radius: 1rem;
}

.popular .container .box-container .box .content .color span {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: .4rem;
}

/* Media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .wrapper .header {
    padding: 2rem;
  }
  .wrapper .header .container .links .navbar a {
    margin: 1.5rem;
  }
  .wrapper .header .container .icons div {
    font-size: 1.5rem;
  }
  .wrapper .content {
    padding: 2rem;
  }
  .products, .popular {
    padding: 4rem;
  }
}

@media (max-width: 768px) {
  .wrapper .header .container .links .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #04090F;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .wrapper .header .container .links .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .wrapper .header .container .links .navbar a {
    color: #fff;
    display: block;
  }
  .wrapper .header .container .links .navbar a:hover {
    color: crimson;
  }
  .wrapper .header .container .icons #cart-btn, .wrapper .header .container .icons #user-btn {
    display: none;
  }
  .wrapper .header .container .icons #menu-btn {
    display: inline-block;
    font-size: 2.8rem;
  }
  .wrapper .header .container .icons #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .wrapper .content {
    margin-top: 5.5rem;
  }
  .wrapper .content .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .content .container .info h2 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */