/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

/* Core styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

$white: #fff;
$bg-color: #ECECEC;
$black: #000;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .1rem solid rgba(0, 0, 0, .1);

@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 2rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 2.5rem;

    .line {
        display: inline-block;
        height: .35rem;
        width: 6rem;
        background-color: crimson;
        opacity: .8;
    }

    h2 {
        margin-top: .5rem;
        text-transform: capitalize;
        font-size: 3rem;
        color: $black;
    }
}

/* Home section styles */
.wrapper {
    background: url("../images/home.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .header {
        position: relative;
        z-index: 1000;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4rem 0;

            .links {
                display: flex;
                align-items: center;
                
                .logo {
                    width: auto;
                    height: 2.5rem;
                    margin-right: 2rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .navbar {

                    a {
                        font-family: 'Work Sans', sans-serif;
                        font-size: 1.8rem;
                        color: $white;
                        margin: 2.5rem;
                        font-weight: 500;
                        text-transform: capitalize;

                        &:hover {
                            color: #eeebbb;
                        }
                    }
                }
            }

            .icons {
                
                div {
                    font-size: 2.2rem;
                    margin: 0 .5rem;
                    color: $white;
                }
            }
        }
    }

    .content {
        margin-top: 12rem;

        .container {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .info {

                h2 {
                    font-weight: 700;
                    font-size: 5rem;
                    letter-spacing: 2%;
                    color: $white;
                }
            }
        }
    }
}

#menu-btn {
    display: none;
}

/* Products section styles */
.products {
    margin: 5rem 0;

    .container {

        .box-container {
            @include grid(30rem);

            .box {
                border-radius: 1.1rem;
                // border: $border;
                
                .image {
                    height: 25.2rem; 
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 2rem;
                    border-radius: 0 0 1.1rem 1.1rem;
                    box-shadow: $box-shadow;

                    .about {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2, h3 {
                            font-size: 1.8rem;
                            font-weight: bolder;
                        }
                    }

                    p {
                        margin: 1rem 0 2rem 0;
                        font-size: 1.3rem;
                    }

                    .color {
                        border: .15rem solid $bg-color;
                        display: inline-block;
                        border-radius: 1rem;

                        span {
                            color: $black;
                            font-weight: bold;
                            font-size: 1.4rem;
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }
    }
}

/* Popular section styles */
.popular {
    margin: 7rem 0;
    background-color: $bg-color;

    .container {
        padding: 5rem 0;

        .box-container {
            @include grid(30rem);

            .box {
                border-radius: 1rem;
                background-color: $white;
                
                .image {
                    height: 29rem; 
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 2rem;
                    border-radius: 0 0 1rem 1rem;
                    box-shadow: $box-shadow;

                    .about {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2, h3 {
                            font-size: 1.7rem;
                            font-weight: bolder;
                        }
                    }

                    p {
                        margin: 1rem 0 2rem 0;
                        font-size: 1.3rem;
                    }

                    .color {
                        border: .2rem solid $bg-color;
                        display: inline-block;
                        border-radius: 1rem;

                        span {
                            color: $black;
                            font-weight: bold;
                            font-size: 1.4rem;
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }
    }
}





















/* Media queries */
@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .wrapper {

        .header {
            padding: 2rem;

            .container {

                .links {

                    .navbar {

                        a {
                            margin: 1.5rem;
                        }
                    }
                }

                .icons {

                    div {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .content {
            padding: 2rem;
        }
    }

    .products, .popular {
        padding: 4rem;
    }
}

@media (max-width: 768px) {

    .wrapper {

        .header {

            .container {

                .links {
                    
                    .navbar {
                        position: absolute;
                        top: 99%; left: 0; right: 0;
                        background-color: #04090F;
                        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                        &.active {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }
                        
                        a {
                            color: $white;
                            display: block;

                            &:hover {
                                color: crimson;
                            }
                        }
                    }
                }

                .icons {
                    
                    #cart-btn, #user-btn {
                        display: none;
                    }

                    #menu-btn {
                        display: inline-block;
                        font-size: 2.8rem;

                        &.fa-times {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .content {
            margin-top: 5.5rem;

            .container {
                justify-content: center;

                .info {

                    h2 {
                        font-size: 4rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }
}
