/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

/* Core styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

$white: #fff;
$bg-color: #ECECEC;
$black: #000;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
$border: .1rem solid rgba(0, 0, 0, .1);

@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 2rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 2.5rem;

    .line {
        display: inline-block;
        height: .35rem;
        width: 6rem;
        background-color: crimson;
        opacity: .8;
    }

    h2 {
        margin-top: .5rem;
        text-transform: capitalize;
        font-size: 3rem;
        color: $black;
    }
}

/* Home section styles */
.wrapper {
    background: url("../images/home.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .header {
        position: relative;
        z-index: 1000;
        top: 0; left: 0; right: 0;


        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4rem 0;

            .links {
                display: flex;
                align-items: center;
                
                .logo {
                    width: auto;
                    height: 2.5rem;
                    margin-right: 2rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .navbar {

                    a {
                        font-family: 'Work Sans', sans-serif;
                        font-size: 1.8rem;
                        color: $white;
                        margin: 2.5rem;
                        font-weight: 500;
                        text-transform: capitalize;

                        &:hover {
                            color: #eeebbb;
                        }
                    }
                }
            }

            .icons {
                
                div {
                    font-size: 2.2rem;
                    margin: 0 .5rem;
                    color: $white;
                }
            }
        }
    }

    .content {
        margin-top: 9rem;

        .container {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .info {

                h2 {
                    font-weight: 700;
                    font-size: 5rem;
                    letter-spacing: 2%;
                    color: $white;
                }
            }
        }
    }

}

#menu-btn {
    display: none;
}

/* Banner section styles */
.banner {

    .container {
        background: url("../images/mobile.png");
        height: 25rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        position: relative;
        top: -12.5rem;
        display: grid;
        place-items: center;

        .content {
            text-align: center;
            padding: 2rem;

            h2 {
                color: $white;
                font-size: 4.2rem;
                text-transform: uppercase;
                font-weight: 700;
            }

            p {
                color: $white;
                font-size: 2.2rem;
                font-weight: 600;
                margin: 1.5rem 0;
            }

            .btn {
                padding: 1rem 2rem;
                border-radius: 10rem;
                background-color: #FF753A;
                color: $white;
                text-transform: uppercase;
                font-size: 1.6rem;
                cursor: pointer;

                &:hover {
                    background-color: $white;
                    color: #FF753A;
                }
            }
        }
    }
}

/* Products section styles */
.products {

    .container {

        .box-container {
            @include grid(30rem);

            .box {
                border-radius: 1.1rem;
                // border: $border;
                
                .image {
                    height: 25.2rem; 
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 2rem;
                    border-radius: 0 0 1.1rem 1.1rem;
                    box-shadow: $box-shadow;

                    .about {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2, h3 {
                            font-size: 1.8rem;
                            font-weight: bolder;
                        }
                    }

                    p {
                        margin: 1rem 0 2rem 0;
                        font-size: 1.3rem;
                    }

                    .color {
                        border: .15rem solid $bg-color;
                        display: inline-block;
                        border-radius: 1rem;

                        span {
                            color: $black;
                            font-weight: bold;
                            font-size: 1.4rem;
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }
    }
}

/* Popular section styles */
.popular {
    margin: 8rem 0;
    background-color: $bg-color;

    .container {
        padding: 5rem 0;

        .box-container {
            @include grid(30rem);

            .box {
                border-radius: 1rem;
                background-color: $white;
                
                .image {
                    height: 29rem; 
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content {
                    padding: 2rem;
                    border-radius: 0 0 1rem 1rem;
                    box-shadow: $box-shadow;

                    .about {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h2, h3 {
                            font-size: 1.7rem;
                            font-weight: bolder;
                        }
                    }

                    p {
                        margin: 1rem 0 2rem 0;
                        font-size: 1.3rem;
                    }

                    .color {
                        border: .2rem solid $bg-color;
                        display: inline-block;
                        border-radius: 1rem;

                        span {
                            color: $black;
                            font-weight: bold;
                            font-size: 1.4rem;
                            margin-right: .4rem;
                        }
                    }
                }
            }
        }
    }
}

/* Images section styles */
.images {

    .container {

        .image-container {

            .box-container__top {
                margin-bottom: 2rem;
                @include grid(45rem);

                .box1 {

                    .image {
                        height: 48rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        background-color: #252525;
                        padding: 2rem;
                        border-radius: 0 0 1rem 1rem;

                        h2 {
                            color: $white;
                        }

                        h3 {
                            padding-top: .2rem;
                            color: $bg-color;
                            opacity: .8;
                            font-weight: 400;
                        }
                    }
                }

                .box2 {

                    .image {
                        height: 48rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        background-color: #eaeaea;
                        padding: 2rem;
                        border-radius: 0 0 1rem 1rem;

                        h3 {
                            padding-top: .2rem;
                            opacity: .9;
                            color: #252525;
                            font-weight: 400;
                        }
                    }
                }
            }

            .box-container__bottom {
                margin-bottom: 2rem;
                @include grid(30rem);

                .box3 {

                    .image {
                        height: 48rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        background-color: #252525;
                        padding: 2rem;
                        border-radius: 0 0 1rem 1rem;

                        h2 {
                            color: $white;
                        }

                        h3 {
                            padding-top: .2rem;
                            color: $bg-color;
                            opacity: .8;
                            font-weight: 400;
                        }
                    }
                }

                .box4 {

                    .image {
                        height: 48rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        background-color: #eaeaea;
                        padding: 2rem;
                        border-radius: 0 0 1rem 1rem;

                        h3 {
                            padding-top: .2rem;
                            opacity: .9;
                            color: #252525;
                            font-weight: 400;
                        }
                    }
                }

                .box5 {

                    .image {
                        height: 48rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        background-color: #252525;
                        padding: 2rem;
                        border-radius: 0 0 1rem 1rem;

                        h2 {
                            color: $white;
                        }

                        h3 {
                            padding-top: .2rem;
                            color: $bg-color;
                            opacity: .8;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

/* Footer section styles */
.footer {
    background-color: #505050;
    margin-top: 6rem;

    .container {
        padding: 4rem 0;

        .box-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box-left {

                .links {
                    display: inline-block;
                    margin-left: 1rem;

                    .line {
                        display: inline-block;
                        height: .35rem;
                        width: 6rem;
                        background-color: $white;
                        opacity: .8;
                    }    

                    h2 {
                        margin-top: .7rem;
                        color: $white;
                        font-size: 600;
                        font-size: 1.6rem;
                    }

                    a {
                        display: block;
                        margin: .8rem 0;
                        color: $bg-color;
                        text-transform: capitalize;
                        font-size: 1.3rem;

                        &:hover {
                            color: $white;
                        }
                    }


                }
            }

            .box-right {
                
                .social-network {
                    margin-top: 2rem;

                    a {
                        color: $white;
                        padding-right: 1rem;
                        font-size: 1.8rem;

                        &:hover {
                            color: $bg-color;
                        }
                    }
                }
            }
        }
    }
}





















/* Media queries */
// @media (max-width: 1200px) {

//     .wrapper, .banner, .products, .popular, .images, .footer {
//         padding: 4rem;
//     }
// }


@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .wrapper {

        .header {
            padding: 2rem;

            .container {

                .links {

                    .navbar {

                        a {
                            margin: 1.5rem;
                        }
                    }
                }

                .icons {

                    div {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .content {
            padding: 2rem;
        }
    }

    .banner, .products, .popular, .images, .footer {
        padding: 4rem;
    }

    .banner {
         
        .container {

            .content {

                h2 {
                    font-size: 3.6rem;
                }

                p {
                    font-size: 2rem;
                }

                .btn {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .header {

            .container {

                .links {
                    
                    .navbar {
                        position: absolute;
                        top: 99%; left: 0; right: 0;
                        background-color: #04090F;
                        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                        &.active {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }
                        
                        a {
                            color: $white;
                            display: block;

                            &:hover {
                                color: crimson;
                            }
                        }
                    }
                }

                .icons {
                    
                    #cart-btn, #user-btn {
                        display: none;
                    }

                    #menu-btn {
                        display: inline-block;
                        font-size: 2.8rem;

                        &.fa-times {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        .content {
            margin-top: 6rem;

            .container {
                justify-content: center;

                .info {

                    h2 {
                        font-size: 4rem;
                    }
                }
            }
        }
    }

    .footer {

        .container {

            .box-container {
                flex-direction: column;
                align-items: center;

                .box-left {

                    .links {
                        
                        &:nth-child(2) {
                            display: none;
                        }

                        // &.box {
                        //     display: none;
                        // }
                    }
                }

                .box-right {

                    .image {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }
}
