/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");
/* Core styles */
* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Home section styles */
.wrapper {
  background: url("../images/home-bg.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrapper .header {
  position: relative;
  z-index: 1000;
}

.wrapper .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.wrapper .header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .container .links .logo {
  width: auto;
  height: 2.5rem;
  margin-right: 2rem;
}

.wrapper .header .container .links .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .header .container .links .navbar a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.7rem;
  color: #fff;
  margin: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.wrapper .header .container .links .navbar a:hover {
  color: #eeebbb;
}

.wrapper .header .container .icons div {
  font-size: 2rem;
  margin: 0 .5rem;
  color: #fff;
}

.wrapper .content {
  margin-top: 12rem;
}

.wrapper .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .content .container .info h2 {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 2%;
  color: #fff;
}

#menu-btn {
  display: none;
}

/* Media queries */
@media (max-width: 991px) {
  .wrapper .header {
    padding: 2rem;
  }
  .wrapper .header .container .links .navbar a {
    margin: 1.5rem;
  }
  .wrapper .header .container .icons div {
    font-size: 1.5rem;
  }
  .wrapper .content {
    padding: 2rem;
  }
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .wrapper .header .container .links .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #04090F;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .wrapper .header .container .links .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .wrapper .header .container .links .navbar a {
    color: #fff;
    display: block;
  }
  .wrapper .header .container .links .navbar a:hover {
    color: crimson;
  }
  .wrapper .header .container .icons #menu-btn {
    display: inline-block;
  }
  .wrapper .header .container .icons #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .wrapper .content {
    margin-top: 4rem;
  }
  .wrapper .content .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */